<footer class="site-footer">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-12 d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center gap-4">

                    <img src="/base/images/fotoFooter1.png"
                         style="height:85px;">

                    <img src="/base/images/fotoFooter2.png"
                         style="height:85px;">

                    <div style="
              color:#e0e0e0;
              font-size:9px;
              line-height:1.3;
              max-width:520px;
              display:flex;
              flex-direction:column;
              justify-content:center;
              height:85px;
          ">
                        <div>
                            Acción financiada por la Comunidad de Madrid en el marco del Convenio entre la Comunidad de Madrid y la Universidad Politécnica de Madrid para la concesión de una subvención directa para el fomento y promoción de la investigación y la transferencia de tecnología 2023-2026, Línea de actuación A, Doctores Emergentes.
                        </div>

                        <div style="margin-top:6px;">
                            This work has been supported by the Madrid Government (Comunidad de Madrid-Spain) under the Multiannual Agreement 2023-2026 with Universidad Politécnica de Madrid in Line A, Emerging PhD researchers.
                        </div>
                    </div>

                </div>

                <div>
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
                        <img src="/base/images/fotoFooter3.png"
                             style="height:60px;">
                    </a>
                </div>

            </div>

        </div>
    </div>
</footer>