{% set tags = h.get_facet_items_dict('tags', search_facets, limit=6) %}
{% set placeholder = _('E.g. Fundamento De Computadores') %}
{% set dataset_type = h.default_package_type() %}

<div class="module-search card box">

    <form class="module-content search-form"
          method="get"
          action="{% url_for dataset_type ~ '.search' %}">

        <h3 class="heading" style="color:black;">
            {{ _("Búsqueda Datasets") }}
        </h3>

        <div class="search-input form-group search-giant">

            <input id="field-main-search"
                   type="text"
                   class="form-control"
                   name="q"
                   value=""
                   autocomplete="off"
                   placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}"
                   aria-label="{% block header_site_search_label %}
                     {{ h.humanize_entity_type('package', dataset_type, 'search placeholder')
                        or _('Search datasets') }}
                   {% endblock %}" />

            <button class="btn"
                    type="submit"
                    aria-labelledby="search-label">
                <i class="fa fa-search"></i>
                <span class="sr-only" id="search-label">
                    {{ _('Search') }}
                </span>
            </button>

        </div>
    </form>

    <div class="tags"
        style="background:none;
                padding:25px 0;
                border:none;">

        <h3 style="color:black;">
            {{ _('Popular tags') }}
        </h3>

        {% for tag in tags %}
            <a class="tag"
                href="{% url_for 'dataset.search', tags=tag.name %}"
                title="{{ tag.display_name }}"
                style="display:inline-block;
                        margin:6px;
                        padding:6px 16px;
                        border:2px solid #0b4f5c;
                        color:#206b82;
                        border-radius:25px;
                        text-decoration:none;
                        background:none;">
                 {{ tag.display_name|truncate(22) }}
            </a>
        {% endfor %}

    </div>

</div>
